
.container {
    height: 37vw;
    background: black; 
    position: relative;
    z-index: 0;
    bottom: -100%;
  }
  
  .close{
    position: absolute;
    right: 0;
    top: 0;
    height:35px;
    width: 35px;
    margin: 2px 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  
    .svgclose{
    fill: white;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  