.chapter-logo{
    background: url(../../../../assets/images/logo-narcos.webp) no-repeat;
    position: relative;
    display: inline-block;
    height: 10vw;
    width: 50%;
    margin: 25px 0 0 65px;
}