
.video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  width: 245px;
  height: 137px;
  background-color: #fff;
  background-image: url("./imgs-carousel/ejemplo_sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;

  &:nth-child(2){
    background-image: url("./imgs-carousel/58.jpg");
    width: 470px;
    height: 265px;
    padding: 10px 25px 10px 15px;
    font-size: 22px;
  }


  &__body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    &:hover .icon--action{
      fill: #e50914;
    }

  }

  &__alert {
    position: absolute;
    bottom: 8px;
    left: 5px;
    font-size: var(font-size-base);
    padding: 4px;
    border-radius: 3px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #e50914;
  }

  &__info{
    margin-bottom: 7px;

  }

  &__title {
    margin-bottom: 7px;
  }
  &__percentage {
    margin-right: 8px;
    color: green;
  }

  &__age {
    display: inline-block;
    padding: 1px 3px;
    margin-right: 10px;
    border: 1px solid #fff;
    font-style: normal;
    font-size: 20px;
  }
  &__detail{
    font-size: 18px;
  }
}

.logo {
  position: absolute;
  z-index: 50;
  top: 8px;
  left: 8px;
  background-image: url("./imgs-carousel/Netflix-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 105px;
  height: 20px;
}

.btn-controls {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  //border: 1px solid red;
}

.btn {
  display: inline-block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &+&{
    margin-top: 5px;
  }

  &--lg {
    flex: 1 0 auto;
    max-height: 28px;
    //border: 1px solid red;
    border-radius: 0%;
    padding-bottom: 10px;
    &:hover .icon{
      fill: #e50914;
    }

  }
}



.icon {
  padding: 5px;
  fill: #fff;
  width: 24pt;
  height: 24pt;
  border: 2px solid #fff;
  border-radius: 100%;

  &--control{
    &:hover{
      transform: scale(1.1)
    }
  }

  &--action{
    //fill: #e50914;
    width: 20pt;
    height: 20pt;
  }
  &--lg{
    border: none;
    width: 22pt;
    height: 22pt;
  }
}

.list {
  list-style: none;
  position: relative;
  font-size: 18px;
  font-style: normal;
  &__item {
    display: inline-block;

    & + & {
      margin-left: 20px;
    }
    &:nth-child(1n +2)::before {
      content: "";
      position: relative;
      top: -3px;
      left: -10px;
      display: inline-block;
      border-radius: 100%;
      width: 5px;
      height: 5px;
      background-color: #666;
    }
  }
}
