/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset";
@import "./assets/styles/variables";
@import "./assets/styles/fonts";


body{
    background: rgb(0, 0, 0);
      padding-bottom: 150px;
overflow-x: hidden;
}