:root {
  --font-size-sm: rem(14px);
  --font-size-base: rem(16px);
  --font-size-md: rem(18px);
  --font-size-lg: rem(20px);
  --red: #e50914;
  --white: #fff;
  --green: #46d369;
  --grey: #e5e5e5;
  --grey-hover: #b3b3b3;
  --grey-dark: #828282;

}
