:root {
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --red: #e50914;
  --white: #fff;
  --green: #46d369;
  --grey: #e5e5e5;
  --grey-hover: #b3b3b3;
  --grey-dark: #828282;

}
