:root {
  --font-size-sm: rem(14px);
  --font-size-base: rem(16px);
  --font-size-md: rem(18px);
  --font-size-lg: rem(20px);
  --color-red: #e50914;
  --color-white: #fff;
  --color-green: #46d369;
  --color-grey: #e5e5e5;
  --color-grey-hover: #b3b3b3;
  --color-grey-dark: #828282;

}
