

<ul class="breadcrumb" #breadcrumb>

  <li *ngFor="let item of arrBreadCrumb">
    <button type="button" (click)="showBreadCrumb(item)">{{item.text}}
    </button>
    <span *ngIf="item.active"></span>
  </li>
</ul>






 <!--  <li>
    <button href="" (click)="showBreadCrumb($event)">Información General</button>
    <span *ngIf="clicked"></span>
  </li>
  <li>
    <button href="">Episodios</button>
    <span *ngIf="clicked"></span>
  </li>
  <li>
    <button href="">Traíleres y más</button>
    <span *ngIf="clicked"></span>
  </li>
  <li>
    <button href="">Similares</button>
    <span *ngIf="clicked"></span>
  </li>
  <li>
    <button href="">detalles</button>
    <span *ngIf="clicked"></span>
  </li> -->